<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nd.dao.UserLogDao">
    <!--查询语句书写-->
    <select id="findUserLog" resultType="UserLog">
        select u.uname, ubt.month, ubt.sumborrow
        from user u join userborrowTimes ubt
        on u.uID = ubt.uid
        where u.uID = #{userid}
    </select>
</mapper>